[Unit]
Description=VMware Virtual Machine Communication Interface
After=vmware-vmmon.service
PartOf=vmware.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/sbin/modprobe vmw_vmci
ExecStop=/sbin/modprobe -r vmw_vsock_vmci_transport vmw_vmci
